# Data Wrangling in Python  
*__[Pandas](https://pandas.pydata.org/)__ with the __MovieLens__ dataset*  

**Part 1: Getting Started, Load the MovieLens dataset**

### <font color='green'>__Support for Google Colab__  </font>  
    
open this notebook in Colab using the following button:  
  
<a href="https://colab.research.google.com/github/shauryashaurya/learn-data-munging/blob/main/02-Pandas/02.01-Data-Wrangling-with-MovieLens-and-Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>  

  
<font color='green'>uncomment and execute the cell below to setup and run this notebook on Google Colab.</font>

In [1]:
# # SETUP FOR COLAB: select all the lines below and uncomment (CTRL+/ on windows)
# # Let's download and unzip the Small MovieLens Dataset
# ! mkdir ./../data
# ! wget -q https://files.grouplens.org/datasets/movielens/ml-latest-small.zip
# ! unzip ./ml-latest-small.zip -d ./../data/

### Get the _Small_ MovieLens Dataset

We'll use the [small MovieLens dataset](https://grouplens.org/datasets/movielens/#:~:text=Small%3A%20100%2C000%20ratings%20and%203%2C600%20tag%20applications) here.

Download it and unzip to the data folder under the name `ml-latest-small`.

This dataset expands to about 3.2 MB on your local disk.

# Locate the data

In [2]:
datalocation = "./../data/ml-latest-small/"

In [3]:
# specify file names
file_path_movies = datalocation + "movies.csv"
file_path_links = datalocation + "links.csv"
file_path_ratings = datalocation + "ratings.csv"
file_path_tags = datalocation + "tags.csv"

# Setup Pandas and Numpy

In [4]:
import numpy as np
import pandas as pd

print("numpy version: ", np.__version__)
print("pandas version: ", pd.__version__)

numpy version:  1.26.2
pandas version:  2.1.4

# Load the dataset(s)

From the ```README.txt``` file in the small MovieLens dataset:
The dataset files are written as [**comma-separated values**](http://en.wikipedia.org/wiki/Comma-separated_values) files with a **single header row**. Columns that contain commas (`,`) are **escaped using double-quotes (`"`)**. These files are encoded as **UTF-8**. If accented characters in movie titles or tag values (e.g. Mis√©rables, Les (1995)) display incorrectly, make sure that any program reading the data, such as a text editor, terminal, or script, is configured for UTF-8.

So, we specify:
* Separator - ```,```
* Escape Character - ```"```
* Encoding - ```UTF-8```

Often this is called the **dialect** of the CSV file.
These dialects vary often, so need our attention.

In [5]:
csv_separator = ","
csv_escapechar = '"'
csv_encoding = "utf-8"

## Movies

Let's specify the [-  ```dtypes```  ](https://pandas.pydata.org/docs/user_guide/basics.html#dtypes) of each of the columns in the movies file.

In [6]:
# schema, inferred from the README.txt file
movies_schema = {"movieId": "Int32", "title": "string", "genres": "string"}

Two of the columns are [strings of text](https://pandas.pydata.org/docs/user_guide/text.html#working-with-text-data). Pandas may treat those as ```object```, but we wanted to use the [```pandas.StringDType```](https://pandas.pydata.org/docs/reference/api/pandas.StringDtype.html#pandas-stringdtype) here.

In [7]:
# gives an error.
# movies = pd.read_csv(file_path_movies, 
# dtype=movies_schema, 
# sep=csv_separator, 
# escapechar=csv_escapechar, 
# encoding=csv_encoding)

In [8]:
# we need the quote character, not the escape character
# just to keep things readable, let's create another variable
csv_quotechar = csv_escapechar

In [9]:
movies = pd.read_csv(
    file_path_movies,
    dtype=movies_schema,
    sep=csv_separator,
    quotechar=csv_quotechar,
    encoding=csv_encoding,
)

In [10]:
# show the first 15 lines
movies.head(15)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance

Look at Row #10 - "American President, The (1995)" - so pandas seems to have correctly interpreted the quotation marks.

For now we'll keep things simple and let pandas give us an index.  
In some cases it would be interesting to use the ```movieId``` column [as the index](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html#pandas.read_csv:~:text=index_colHashable%2C%20Sequence%20of%20Hashable%20or%20False%2C%20optional).

In [11]:
# data types of each column
movies.dtypes

movieId             Int32
title      string[python]
genres     string[python]
dtype: object

Just for practice, let's load the other datasets too...

## Links

In [12]:
# schema, inferred from the README.txt file
# load imdbId,tmdbId as strings because the are a part of a URL.
#   IMDB: http://www.imdb.com/title/imdbId/
#   TMDB: https://www.themoviedb.org/movie/tmdbId
links_schema = {"movieId": "Int32", "imdbId": "string", "tmdbId": "string"}

In [13]:
links = pd.read_csv(
    file_path_links,
    dtype=links_schema,
    sep=csv_separator,
    quotechar=csv_quotechar,
    encoding=csv_encoding,
)

In [14]:
links.head(15)

    movieId   imdbId tmdbId
0         1  0114709    862
1         2  0113497   8844
2         3  0113228  15602
3         4  0114885  31357
4         5  0113041  11862
5         6  0113277    949
6         7  0114319  11860
7         8  0112302  45325
8         9  0114576   9091
9        10  0113189    710
10       11  0112346   9087
11       12  0112896  12110
12       13  0112453  21032
13       14  0113987  10858
14       15  0112760   1408

In [15]:
links.dtypes

movieId             Int32
imdbId     string[python]
tmdbId     string[python]
dtype: object

## Ratings

Reading through the ```README``` file:  
Ratings are made on a 5-star scale, with half-star increments (0.5 stars - 5.0 stars).  
Timestamps represent seconds since midnight Coordinated Universal Time (UTC) of January 1, 1970.

Ooh! Ooh! We got our first [DateTime](https://pandas.pydata.org/docs/reference/api/pandas.DatetimeTZDtype.html#pandas.DatetimeTZDtype)!

In [16]:
# schema, inferred from the README.txt file
# read timestamps as integers then convert to dates later.

ratings_schema = {
    "userId": "Int32",
    "movieId": "Int32",
    "rating": "Float32",
    "timestamp": "Int64",
}
#

In [17]:
ratings = pd.read_csv(
    file_path_ratings,
    dtype=ratings_schema,
    sep=csv_separator,
    quotechar=csv_quotechar,
    encoding=csv_encoding,
)

In [18]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [19]:
# now let's add a datetime column that we derive from the raw timestamp
ratings["datetime"] = pd.to_datetime(ratings["timestamp"], unit="s", utc=True)

In [20]:
ratings.dtypes

userId                    Int32
movieId                   Int32
rating                  Float32
timestamp                 Int64
datetime     datetime64[s, UTC]
dtype: object

#### ```pandas.Series.dt.date```  
Let's [extract the dates](https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.date.html#pandas-series-dt-date) into a new column

...just in case you are wondering what's that [```dt``` part](https://github.com/pandas-dev/pandas/blob/9e1096e8373bc99675fd1b3490cfb7cf26041395/pandas/core/series.py#L5777C1-L5777C2), and want to dive into the code where it's defined as a [CachedAccessor](https://github.com/pandas-dev/pandas/blob/9e1096e8373bc99675fd1b3490cfb7cf26041395/pandas/core/accessor.py#L196) for ```datetimelike``` values in ```pandas/core/accessor.py```

In [21]:
ratings["date"] = ratings["datetime"].dt.date

In [22]:
ratings.head()

   userId  movieId  rating  timestamp                  datetime        date
0       1        1     4.0  964982703 2000-07-30 18:45:03+00:00  2000-07-30
1       1        3     4.0  964981247 2000-07-30 18:20:47+00:00  2000-07-30
2       1        6     4.0  964982224 2000-07-30 18:37:04+00:00  2000-07-30
3       1       47     5.0  964983815 2000-07-30 19:03:35+00:00  2000-07-30
4       1       50     5.0  964982931 2000-07-30 18:48:51+00:00  2000-07-30

Niiice!  
Wait, let's check the data types once.

In [23]:
ratings.dtypes

userId                    Int32
movieId                   Int32
rating                  Float32
timestamp                 Int64
datetime     datetime64[s, UTC]
date                     object
dtype: object

We'd prefer if date was a datetime type as well.  
Let's prepare the date column again, wrapping it in ```pd.to_datetime()```

In [24]:
ratings["date"] = pd.to_datetime(ratings["datetime"].dt.date)

In [25]:
# check the data types again
ratings.dtypes

userId                    Int32
movieId                   Int32
rating                  Float32
timestamp                 Int64
datetime     datetime64[s, UTC]
date             datetime64[ns]
dtype: object

Ah! much better.  
Why you say?  
We could easily extract and manipulate dates this way.  
for e.g.

In [26]:
# extract the day, month and year of each rating
ratings["day"] = ratings["date"].dt.day
ratings["month"] = ratings["date"].dt.month
ratings["year"] = ratings["date"].dt.year

In [27]:
ratings.dtypes

userId                    Int32
movieId                   Int32
rating                  Float32
timestamp                 Int64
datetime     datetime64[s, UTC]
date             datetime64[ns]
day                       int32
month                     int32
year                      int32
dtype: object

very clean!

In [28]:
ratings.head()

,userId,movieId,rating,timestamp,datetime,date,day,month,year
0,1,1,4.0,964982703,2000-07-30 18:45:03+00:00,2000-07-30,30,7,2000
1,1,3,4.0,964981247,2000-07-30 18:20:47+00:00,2000-07-30,30,7,2000
2,1,6,4.0,964982224,2000-07-30 18:37:04+00:00,2000-07-30,30,7,2000
3,1,47,5.0,964983815,2000-07-30 19:03:35+00:00,2000-07-30,30,7,2000
4,1,50,5.0,964982931,2000-07-30 18:48:51+00:00,2000-07-30,30,7,2000

Let's do this for the Tags data set too - just for practice.


## Tags

From ```README```:  
Tags are user-generated metadata about movies. Each tag is typically a single word or short phrase. The meaning, value, and purpose of a particular tag is determined by each user.  
  
Timestamps represent seconds since midnight Coordinated Universal Time (UTC) of January 1, 1970.

In [29]:
# schema, inferred from the README.txt file
# read timestamps as integers then convert to dates later.
# userId,movieId,tag,timestamp
tags_schema = {
    "userId": "Int32",
    "movieId": "Int32",
    "tag": "string",
    "timestamp": "Int64",
}
#

In [30]:
tags = pd.read_csv(
    file_path_tags,
    dtype=tags_schema,
    sep=csv_separator,
    quotechar=csv_quotechar,
    encoding=csv_encoding,
)

In [31]:
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

just like before let's add a more readable ```datetime``` column here

In [32]:
tags["datetime"] = pd.to_datetime(tags["timestamp"], unit="s", utc=True)

In [33]:
tags.dtypes

userId                    Int32
movieId                   Int32
tag              string[python]
timestamp                 Int64
datetime     datetime64[s, UTC]
dtype: object

In [34]:
# extract date into a new column
tags["date"] = pd.to_datetime(tags["datetime"].dt.date)

In [35]:
tags.dtypes

userId                    Int32
movieId                   Int32
tag              string[python]
timestamp                 Int64
datetime     datetime64[s, UTC]
date             datetime64[ns]
dtype: object

In [36]:
tags.head(5)

,userId,movieId,tag,timestamp,datetime,date
0,2,60756,funny,1445714994,2015-10-24 19:29:54+00:00,2015-10-24
1,2,60756,Highly quotable,1445714996,2015-10-24 19:29:56+00:00,2015-10-24
2,2,60756,will ferrell,1445714992,2015-10-24 19:29:52+00:00,2015-10-24
3,2,89774,Boxing story,1445715207,2015-10-24 19:33:27+00:00,2015-10-24
4,2,89774,MMA,1445715200,2015-10-24 19:33:20+00:00,2015-10-24

umm... go nuts.  
Extract the day, month and year from date, because why not?

In [37]:
tags["day"] = tags["date"].dt.day
tags["month"] = tags["date"].dt.month
tags["year"] = tags["date"].dt.year

In [38]:
tags.head()

,userId,movieId,tag,timestamp,datetime,date,day,month,year
0,2,60756,funny,1445714994,2015-10-24 19:29:54+00:00,2015-10-24,24,10,2015
1,2,60756,Highly quotable,1445714996,2015-10-24 19:29:56+00:00,2015-10-24,24,10,2015
2,2,60756,will ferrell,1445714992,2015-10-24 19:29:52+00:00,2015-10-24,24,10,2015
3,2,89774,Boxing story,1445715207,2015-10-24 19:33:27+00:00,2015-10-24,24,10,2015
4,2,89774,MMA,1445715200,2015-10-24 19:33:20+00:00,2015-10-24,24,10,2015

# Insights

1. For CSV data pay attention to the dialect
2. EscapeChar vs QuoteChar in Pandas
3. Opinion: Safe approach for timestamps - import as Integers/Numeric and convert using ```pd.to_datetime```
4. ```pandas.Series.dt.date```

In [39]:
# Imma just leave it here
# call it an Easter Egg

import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Next

* Let's play with the MovieLens dataset some more.